#form-name {
    font-size: 40px;
    line-height: 56px;
    width: 100%;
    background-color: $light-grey;
    border: 0px;
    border-bottom: 1px dashed $text-color;
    padding-bottom: 1px;
    margin: 2rem 0 1rem 0;
}

#form-name:focus {
    outline: none; 
    border-bottom: 2px solid #2D4059;
    padding-bottom: 0;
    background-color: darken($light-grey, 5%);
}

.group {
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem 5rem 1rem 1rem;
    position: relative;

    h2 {
        margin: 0 0 1rem 0; 
        font-size: 1.6rem;
    }

    .group-name {
        border: 0px;
        border-bottom: 1px dashed $text-color; 
        width: 100%;
        font-size: 25.6px;
        font-weight: 700;
    }

    .group-name:focus {
        background-color: lighten($light-grey, 5%); 
        outline: none;
        border-bottom: 1px solid #2D4059;
    }

    .input {
        border: 1px solid $light-grey; 
        margin: 1rem 0;
        padding: 0.5rem 4.5rem 0.5rem 0.5rem;
        position: relative;

        .field-name {
            border: none; 
            border-bottom: 1px dashed $text-color;
            width: 100%;
        }

        .field-name:focus {
            border-bottom: 1px solid #2D4059;
            outline: none;
            background-color: lighten($light-grey, 5%);
        }

        .field-description {
            color: $dark-grey;
            line-height: 1.4rem;
            font-size: 1rem; 
            margin-top: 0.5rem;

            height: 1.4rem;
            width: 100%;
            border: none;
        }

        .field-description:focus {
            height: 2.8rem; 
            border-bottom: 1px solid $dark-grey;
            outline: none;
            background-color: lighten($light-grey, 5%);
        }

        .form-options {
            position: absolute;
            top: 0;
            right: 1.5em; 
            height: 100%;
            width: 2rem;
            background-color: lighten($light-grey, 5%);

            .form-delete {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1rem;
                color: darken($mid-grey, 5%);
                padding: 1rem 0.5rem;
            }

            .form-delete:hover {
                cursor: hand; cursor: pointer;
                color: darken($mid-grey, 25%);
            }
        }

        .form-sort {
            position: absolute;
            top: 0;
            right: 0;
            width: 2rem;
            height: 100%;
            background-color: lighten($light-grey, 3%);
            text-align: center;
            font-size: 1rem;
            color: $mid-grey;

            .move-up {
                height: 50%;
                width: 100%;

                i {
                    position: absolute;
                    top: 0.5rem;
                    left: 28%;
                }
            }

            .move-down {
                height: 50%;
                width: 100%;

                i {
                    position: absolute;
                    bottom: 0.5rem; 
                    left: 28%;
                }
            }

            .move-up:hover, .move-down:hover {
                background-color: $light-grey;
                cursor: hand; cursor: pointer;
                color: $dark-grey;
            }
        }
    }

    .add-new-field {
        width: 100%; 
        background-color: $brand-color;
        color: #fff;
        border: 0px;
        padding: 0.5rem 0;
    }

    .add-new-field:hover {
        background-color: darken($brand-color, 5%);
    }

    .group-sort {
        position: absolute;
        top: 0;
        right: 0; 
        height: 100%;
        width: 4rem;
        background-color: lighten($light-grey, 3%);
        color: $mid-grey;

        .move-up {
            height: 50%;

            i {
                position: absolute;
                top: 1.5rem;
                left: 35%; 
            }
        }

        .move-down {
            height: 50%; 

            i {
                position: absolute;
                bottom: 1.5rem;
                left: 35%
            }
        }

        .move-up:hover, .move-down:hover {
            background-color: $light-grey; 
            cursor: hand; cursor: pointer;
            color: $dark-grey;
        }
    }
}

.add-new-group {
        width: 100%;
        background-color: #2D4059;  
        color: #fff;
        border: 0px;
        padding: 1rem 0;
        margin: 1rem 0;
}

.add-new-group:hover {
    background-color: darken(#2D4059, 5%);
}
